{
    "IsEncrypted": false,
    "Values": {
      "FUNCTIONS_WORKER_RUNTIME": "java",
      "SPRING_DATASOURCE_URL": "<spring-datasource-url>",
      "SPRING_DATASOURCE_USERNAME": "<spring-datasource-username>",
      "SPRING_DATASOURCE_PASSWORD": "<spring-datasource-password>",
      "PAYMENT_OPTION_INPUT_EVENTHUB_CONN_STRING": "<payment-option-topic-input-conn-string>",
      "RTP_MESSAGE_OUTPUT_EVENTHUB_CONN_STRING": "<rtp-message-topic-output-conn-string>",
      "PAYMENT_OPTION_KAFKA_BROKER": "<payment-option-evh-endpoint>",
      "RTP_KAFKA_BROKER": "<rtp-evh-endpoint>",
      "ANONYMIZER_URL_HOST": "<anonymizer-url-host>",
      "ANONYMIZER_URL_PATH": "<anonymizer-url-path>",
      "SHARED_SUBSCRIPTION_KEY": "<shared-sub-key>",
      "REDIS_HOSTNAME": "<redis-hostname>",
      "REDIS_PORT": "<redis-port>",
      "REDIS_PASSWORD": "<redis-password>"
    }
 }
