microservice-chart: &microservice-chart
  namespace: "gps"
  nameOverride: ""
  image:
    repository: ghcr.io/pagopa/pagopa-gpd-rtp
    tag: "0.7.3-5-PIDM-1478"
    pullPolicy: Always
  terminationGracePeriodSeconds: 300
  livenessProbe:
    handlerType: httpGet
    httpGet:
      path: /actuator/health/liveness
      port: 8080
    initialDelaySeconds: 90
    failureThreshold: 6
    periodSeconds: 10
  readinessProbe:
    handlerType: httpGet
    httpGet:
      path: /actuator/health/readiness
      port: 8080
    initialDelaySeconds: 90
    failureThreshold: 6
    periodSeconds: 10
  deployment:
    create: true
    replicas: 2 # same as HPA minReplica
    strategy:
      type: RollingUpdate
      rollingUpdate:
        maxUnavailable: 0
        maxSurge: 1
  service:
    create: true
    type: ClusterIP
    ports:
      - 8080
  ingress: &ingress
    create: false
  serviceAccount:
    name: "gps-workload-identity"
  azure:
    workloadIdentityClientId: "feceef7b-51a4-4141-87b8-1b58b10e83c4"
  podAnnotations: {}
  podSecurityContext:
    seccompProfile:
      type: RuntimeDefault
  securityContext:
    allowPrivilegeEscalation: false
    readOnlyRootFilesystem: false
    capabilities:
      drop:
        - all
  resources: &resources
  autoscaling:
    enable: true
    minReplica: 2
    maxReplica: 2
    pollingInterval: 10 # seconds
    cooldownPeriod: 50 # seconds
    triggers:
      - type: cpu
        metadata:
          # Required
          type: Utilization # Allowed types are 'Utilization' or 'AverageValue'
          value: "75"
      - type: memory
        metadata:
          type: Utilization
          value: "90"
  envConfig: &envConfig
    APP_NAME: "gpd-rtp"
    APP_ENVIRONMENT: "uat"
    WEBSITE_SITE_NAME: 'gpd-rtp' # required to show cloud role name in application insights
    APP_LOGGING_LEVEL: 'INFO'
    DEFAULT_LOGGING_LEVEL: 'INFO'
    KAFKA_LOGGING_LEVEL: 'WARN'
    OTEL_SERVICE_NAME: "pagopa-gpd-rtp"
    OTEL_RESOURCE_ATTRIBUTES: "deployment.environment=uat"
    OTEL_EXPORTER_OTLP_ENDPOINT: "http://otel-collector.elastic-system.svc:4317"
    OTEL_TRACES_SAMPLER: "always_on"
    OTEL_TRACES_EXPORTER: otlp
    OTEL_METRICS_EXPORTER: otlp
    OTEL_LOGS_EXPORTER: none
  envSecret: &envSecret
    APPLICATIONINSIGHTS_CONNECTION_STRING: 'ai-u-connection-string'
    OTEL_EXPORTER_OTLP_HEADERS: elastic-apm-secret-token
  keyvault:
    name: "pagopa-u-gps-kv"
    tenantId: "7788edaf-0346-4068-9d79-c868aed15b3d"
  nodeSelector: {}
  tolerations: []
  affinity:
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
          - matchExpressions:
              - key: node_type
                operator: In
                values:
                  - 'user'
  canaryDelivery:
    create: false
    ingress:
      create: true
      canary:
        type: header
        headerName: X-Canary
        headerValue: canary
        weightPercent: 0
    service:
      create: true
    deployment:
      create: true
      image:
        repository: ghcr.io/pagopa/pagopa-gpd-rtp
        tag: "0.0.0"
        pullPolicy: Always
      envConfig:
        OTEL_SERVICE_NAME: "pagopa-gpd-rtp-beta"
      envSecret: {}
pagopa-gpd-rtp:
  !!merge <<: *microservice-chart
  ingress:
    !!merge <<: *ingress
    create: true
    host: "weuuat.gps.internal.uat.platform.pagopa.it"
    path: /gpd-rtp-service/(.*)
    servicePort: 8080
  envConfig:
    !!merge <<: *envConfig
    KAFKA_START_OFFSET: 'latest'
    KAFKA_AUTO_STARTUP: 'false'
    CORS_CONFIGURATION: '{"origins": ["*"], "methods": ["*"]}'
    RTP_KAFKA_BROKER: "pagopa-u-itn-gps-rtp-integration-evh.servicebus.windows.net:9093"
    PAYMENT_OPTION_KAFKA_BROKER: "pagopa-u-itn-observ-gpd-evh.servicebus.windows.net:9093"
    PAYMENT_OPTION_EVENTHUB_COMPLETE_GROUP_ID: "rtp"
    SPRING_DATASOURCE_URL: "jdbc:postgresql://gpd-db.u.internal.postgresql.pagopa.it:5432/apd?sslmode=require&prepareThreshold=0&tcpKeepAlive=true"
    SPRING_DATASOURCE_TYPE: "org.springframework.jdbc.datasource.SimpleDriverDataSource"
    SCHEMA_NAME: "apd"
    REDIS_PORT: "6380"
    ANONYMIZER_URL_HOST: "https://api.uat.platform.pagopa.it/anonymizer/v1"
    ANONYMIZER_URL_PATH: "/anonymize"
    DEAD_LETTER_ENDPOINT: "https://pagopauweugpsrtpsa.blob.core.windows.net/"
    DEAD_LETTER_CONTAINER_NAME: "rtp-dead-letter"
    RTP_URL_HOST: "https://api-rtp.uat.cstar.pagopa.it/rtp"
    RTP_MIL_CLIENT_ID: "fe594504-4e5f-4611-9151-afbcd0da3df5"
    RTP_MIL_HOST: "https://api-mcshared.uat.cstar.pagopa.it"
    REST_CLIENT_LOGGER_LEVEL: "NONE"
    MAX_RETRY_DB_REPLICAS: "1"
  envSecret:
    !!merge <<: *envSecret
    RTP_MESSAGE_OUTPUT_EVENTHUB_CONN_STRING: "ehub-u-tx-rtp-connection-string"
    PAYMENT_OPTION_INPUT_EVENTHUB_CONN_STRING: "payment-option-topic-input-conn-string"
    SPRING_DATASOURCE_USERNAME: "db-apd-user-name"
    SPRING_DATASOURCE_PASSWORD: "db-apd-user-password"
    REDIS_HOSTNAME: "redis-hostname"
    REDIS_PASSWORD: "redis-password"
    SHARED_SUBSCRIPTION_KEY: "shared-anonymizer-api-key"
    DEAD_LETTER_CONNECTION_STRING: "rtp-storage-account-connection-string"
    RTP_MIL_CLIENT_SECRET: "rtp-mil-client-secret"
  resources:
    requests:
      memory: "512Mi"
      cpu: "0.25"
    limits:
      memory: "768Mi"
      cpu: "0.50"
refresh-cache-cron:
  !!merge <<: *microservice-chart
  schedule: "0 9 * * *"
  timeZone: "Europe/Rome"
  successfulJobsHistoryLimit: "1"
  image:
    repository: "curlimages/curl"
    tag: "latest"
    pullPolicy: "Always"
  command:
    - "curl"
    - "-k"
    - "-m"
    - "\"300\""
    - "https://weuuat.gps.internal.uat.platform.pagopa.it/gpd-rtp-service/opt-in/refresh"
  resources:
    requests:
      memory: "256Mi"
      cpu: "100m"
    limits:
      memory: "512Mi"
      cpu: "150m"
  envSecrets:
    !!merge <<: *envSecret
  tolerations:
    - key: dedicated
      operator: Equal
      value: "gps"
      effect: NoSchedule
